body {
    background-color: #674829;
    color: #f6f4dd;
    font-family: Helvetica;
}

.main {
    text-align: center;
    padding: 50px;
}

button {
    background-color: #674829;
    color: #f6f4dd;
    width: 50%;
    height: 10vh;

    border-style: solid;
    border-color: #f6f4dd;
    border-width: 3px;
    border-radius: 15px;

    font-family: Helvetica;

    transition: background-color 0.5s, color 0.5s, width 1s;
}

button:hover {
    background-color: #ffffff;
    color: #674829;

    width: 75%;
}

footer {
    text-align: center;
    position: fixed;

    padding: 20px;

    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 50%;
}
